@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-family: "Alata", sans-serif;
  display: flex;
  flex-direction: column;
}

.toolbar {
  width: 100%;
  height: 24px;
  background-color: #d0d0d0;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;
}

.toolbar-section {
  display: flex;
  align-items: center;
}

.toolbar-title {
  font-size: 12px;
  margin: 0px;
  font-weight: 400;
  margin-right: 8px;
}

.toolbar-button {
  border: none;
  background-color: transparent;
  font-family: "Alata", sans-serif;
  font-size: 11px;
  text-decoration: none;
  color: black;
  margin: 0px;
  padding: 0px 8px;
}
.toolbar-button:hover {
  cursor: pointer;
}
.toolbar-button.bold {
  font-weight: 600;;
}

#toolbar-time {
  border-left: 1px solid black;
}
#toolbar-time:hover {
  cursor: default;
}

#desktop {
  background-color: #40b4c4;
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.window {
  background-color: #d0d0d0;
  width: 400px;
  height: 500px;
  border: 1px solid black;
  position: absolute;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  resize: both;
  overflow: auto;
}

.window-toolbar {
  width: 100%;
  height: 26px;
  padding: 5px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.window-toolbar:hover {
  cursor: grab;
}

.window-toolbar-title {
  font-size: 14px;
}

.window-toolbar-lines {
  flex-grow: 2;
  height: 100%;
  margin: 0em 0.5em;
  position: relative;
}
.window-toolbar-lines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  top: 10%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.window-toolbar-lines::after {
  content: "";
  position: absolute;
  top: 60%;
  width: 100%;
  height: 20%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.close-button {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  background-color: transparent;
  padding: 0px;
  position: relative;
}
.close-button::after {
  content: "";
  position: absolute;
  width: 18px;
  top: -1px;
  left: 0px;
  transform-origin: top left;
  transform: rotate(45deg);
  border-bottom: 1px solid black;
}
.close-button::before {
  content: "";
  position: absolute;
  width: 18px;
  top: -1px;
  right: 0px;
  transform-origin: top right;
  transform: rotate(-45deg);
  border-bottom: 1px solid black;
}
.close-button:hover {
  cursor: pointer;
}

.window-content {
  height: 100%;
  width: 100%;
}

.bookmark-list {
  list-style: none;
  padding: 8px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

.bookmark {
  margin: 8px;
  position: relative;
}
.bookmark:hover {
  cursor: pointer;
}

.bookmark a {
  text-decoration: none;
}

.bookmark .close-button {
  text-align: right;
}

.bookmark-icon {
  border: 1px solid black;
  width: 90px;
  height: 60px;
  margin-top: 10px;
  position: relative;
}
.bookmark-icon::before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid black;
  width: 40px;
  height: 8px;
  top: -10px;
  left: 2px;
}

.bookmark-title {
  margin: 0px;
  color: black;
}

.bookmark-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border-bottom: 1px solid black;
  position: relative;
}
.bookmark-toolbar::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid black;
  position: absolute;
  left: 0;
  bottom: -4px;
}

.toolbar-text {
  font-size: 11px;
  margin: 0px;
}

.padded-content {
  padding: 24px;
}

.input-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.input-field label {
  font-size: 13px;
}
.input-field input {
  width: 70%;
  border: 1px solid black;
}

.button-field {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.button {
  border: 1px solid black;
  border-radius: 4px;
  background-color: transparent;
  font-family: "Alata", sans-serif;
  padding: 4px 8px;
  min-width: 70px;
  margin-left: 8px;
}
.button.active {
  background-color: black;
  color: white;
}
.button:hover {
  cursor: pointer;
}
.radio-input {
  width: auto;
  height: 20px;
}

.webpage-iframe {
  height: 100%;
  width: 100%;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.note-content {
  resize: none;
  width: 100%;
  height: 100%;
  padding: 1em;
  overflow: auto;
}

.menu-buttom {
  position: relative;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  width: 100px;
}

.menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}